@import 'style.css';


.main{
  margin-top: 20px;
  margin-left: 20px;
}

.stat-table {
  border: 1px solid #333;
  margin-top: 15px;
  width: 150px;
  height: 90px;
  position: relative;
  top: 160px;
  margin-right: 34px;
  float: left;
}